@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
:root {
    font-family: "Montserrat", sans-serif;
}
main {
    padding: 2rem;
    margin: auto;
}
html {
    max-width: 70ch;
    padding: 3em 3em;
    margin: auto;
    font-size: 1.25em;
}
h2,h3,h4,h5,h6 {
    margin: 3em 0 1em;
}

p,ul,ol {
    margin-bottom: 2em;
    color: #1d1d1d;
    font-family: sans-serif;
}
ul {
    list-style:none;
}
ul, li {
    margin: 0;
    padding: 0;
}
.flex{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
    padding-bottom: 20px;
}
table {
    font-size: 14px;
    text-align: left;
    border-collapse: collapse;
    border-radius: 20px;
}
th {
    padding: 10px 8px;
    background: white;
}
td {
    border-top: 10px solid #228B22;
    padding: 8px;
    background: white;
}
caption{
    padding-bottom: 10px;
}
button{
    border-radius: 5px;
    border-color: #006400;
    font-family: "Montserrat", sans-serif;
    background-color: white;
    font-size: 14px;
}
#name {
    box-sizing: border-box;
    width: 250px;
    height: 50px;
    border: 2px solid #006400;
    border-radius: 5px;
    margin-top: 0px;
    padding-left: 1rem;
}
#send{
    height: 50px;
}
#update{
    margin-bottom: 10px;
    margin-top: 20px;
}
.circle {
    width: 150px;
    height: 150px;
    border: 3px solid #006400;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover
}
.frog{
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    margin-bottom:10px;
}
#modelup{
    overflow: auto;
    height: 400px;
}
#modelup::-webkit-scrollbar {
    display: none;}

#add{
    position: fixed;
    bottom: 10px;
    left: 90%;
    width: 100px;
    height: 50px;
}
#canvas-wrapper, #can-wrap, #can-wrap1{
    min-width: 200px;
    height: 200px;
    max-height: 300px;
    margin-top: 10px;

}
#form li{
    margin-bottom: 10px;
    margin-top: 10px;
}
textarea, input, select, option{

    border: 2px solid #006400;
    border-radius: 5px;
    width: 250px;
    min-height: 35px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
margin-top: 5px;
margin-bottom: 5px}


#addMod p{
    color: #006400;
    font-size: 1.8em;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
#formdiv{
    border-bottom: 10px solid #228B22;
    border-top: 10px solid #228B22;
    padding-bottom: 1em;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}
#flex-div{
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
}
